aiohttp
async-timeout
attrs
certifi
cffi
chardet
DateTime
decorator
discord.py 
docopt
ffmpeg
idna
imageio
imageio-ffmpeg
moviepy
multidict
numpy
opencv-python
pathlib
Pillow
pip
proglog
pycparser
PyNaCl
pytz
requests
scipy
setuptools
six
tqdm
typing-extensions
urllib3
yarg
yarl
youtube-dl
zope.interface